In [1]:
import gensim
import pandas as pd
from gensim.models import Word2Vec
model_name = "10epoch4window.model"

In [2]:
df = pd.read_csv("nyt.csv")

In [3]:
df.head()

,index,pubid,year,length,clue
0,0,nyt,2021,7,"First graduates of the new millennium, informally"
1,1,nyt,2021,9,A fifth
2,2,nyt,2021,3,"When clocks ""spring forward"" for daylight savi..."
3,3,nyt,2021,3,Silver medalist's place
4,4,nyt,2021,3,Iowa Cubs baseball classification

In [4]:
df["data"] = df.clue.apply(gensim.utils.simple_preprocess)

In [5]:
df.head()

,index,pubid,year,length,clue,data
0,0,nyt,2021,7,"First graduates of the new millennium, informally","[first, graduates, of, the, new, millennium, i..."
1,1,nyt,2021,9,A fifth,[fifth]
2,2,nyt,2021,3,"When clocks ""spring forward"" for daylight savi...","[when, clocks, spring, forward, for, daylight,..."
3,3,nyt,2021,3,Silver medalist's place,"[silver, medalist, place]"
4,4,nyt,2021,3,Iowa Cubs baseball classification,"[iowa, cubs, baseball, classification]"

In [6]:
###Load in correct model
model = Word2Vec.load(model_name)

In [7]:
print(model)

Word2Vec(vocab=176709, vector_size=100, alpha=0.025)

In [8]:
def sumList(listy):
    total = 0
    count = len(listy)
    for i in listy:
        try:
            total += model.wv[i]
        except:
            count = count - 1
    if count == 0:
        return 0
    return total/count

In [9]:
sumList(df["data"][2])

array([ 0.26126122, -0.6569314 ,  0.13764042,  0.15828533,  0.07852726,
        0.7539327 , -0.26593456, -0.28111118,  0.18142134, -0.4176735 ,
       -0.3681494 ,  0.1570631 ,  0.6381415 ,  0.219117  ,  0.3685986 ,
        0.09475918, -0.49229622,  0.25993234, -0.559297  , -0.22122672,
        0.36558104, -1.0118341 ,  0.5844895 , -1.0211225 ,  0.4311353 ,
        0.58305216,  0.40953526,  0.6974599 ,  0.7183726 ,  0.22875795,
       -0.23573954, -0.26902243, -0.26937172, -0.8266512 ,  0.09085187,
       -0.17533259, -0.20015073, -0.6904434 ,  0.24150077,  0.02546471,
       -0.16567825, -0.9630666 ,  0.49535877,  0.32471678,  0.00757326,
       -0.45645073,  0.5156148 , -0.8934481 ,  0.4430578 , -1.0044512 ,
        0.24704829,  0.44306934,  1.0688655 ,  0.17160493,  0.56496847,
        0.51562953, -0.3822505 , -0.1637445 , -0.35507026, -0.9018003 ,
        0.39866772,  0.04545094,  0.23296499, -0.3787657 ,  0.5247016 ,
        0.4319787 ,  0.54236495,  0.0907359 ,  0.5629355 ,  0.27802572,
       -0.38260162,  0.63930064, -1.3455915 , -0.25852522,  0.09396735,
        0.51710576,  0.5500812 , -0.01276819,  0.17613083, -0.3980705 ,
       -0.02213764,  0.03002097,  0.2519533 , -1.2155817 , -0.06406958,
        0.6543598 ,  0.37544668, -0.39014155, -0.9473267 , -0.5066324 ,
       -0.3922884 ,  0.6428572 ,  0.31695014, -1.6989658 ,  0.49397582,
       -0.3850643 , -0.543533  ,  0.8380463 ,  0.14703947, -0.19411218],
      dtype=float32)

In [10]:
df["avgVec"] = df["data"].apply(sumList)

In [11]:
df.head()

,index,pubid,year,length,clue,data,avgVec
0,0,nyt,2021,7,"First graduates of the new millennium, informally","[first, graduates, of, the, new, millennium, i...","[-0.06283055, -0.33333978, 0.41959277, 0.42091..."
1,1,nyt,2021,9,A fifth,[fifth],"[0.16289929, -0.12252558, 1.7160105, 1.4493986..."
2,2,nyt,2021,3,"When clocks ""spring forward"" for daylight savi...","[when, clocks, spring, forward, for, daylight,...","[0.26126122, -0.6569314, 0.13764042, 0.1582853..."
3,3,nyt,2021,3,Silver medalist's place,"[silver, medalist, place]","[-1.0124344, -0.5670554, 0.0015843312, 1.13921..."
4,4,nyt,2021,3,Iowa Cubs baseball classification,"[iowa, cubs, baseball, classification]","[-0.5253215, -0.7378391, -0.22098494, 0.524069..."

In [12]:
def top1000(vec):
    return model.wv.most_similar(vec, topn = 1000)

In [13]:
df["top_1000"] = df["avgVec"].apply(top1000)

In [14]:
df.head()

,index,pubid,year,length,clue,data,avgVec,top_1000
0,0,nyt,2021,7,"First graduates of the new millennium, informally","[first, graduates, of, the, new, millennium, i...","[-0.06283055, -0.33333978, 0.41959277, 0.42091...","[(first, 0.7257491946220398), (new, 0.70213496..."
1,1,nyt,2021,9,A fifth,[fifth],"[0.16289929, -0.12252558, 1.7160105, 1.4493986...","[(fifth, 1.0), (fourth, 0.7677969932556152), (..."
2,2,nyt,2021,3,"When clocks ""spring forward"" for daylight savi...","[when, clocks, spring, forward, for, daylight,...","[0.26126122, -0.6569314, 0.13764042, 0.1582853...","[(when, 0.6975402235984802), (time, 0.60416513..."
3,3,nyt,2021,3,Silver medalist's place,"[silver, medalist, place]","[-1.0124344, -0.5670554, 0.0015843312, 1.13921...","[(medalist, 0.6925310492515564), (silver, 0.62..."
4,4,nyt,2021,3,Iowa Cubs baseball classification,"[iowa, cubs, baseball, classification]","[-0.5253215, -0.7378391, -0.22098494, 0.524069...","[(baseball, 0.7362951636314392), (mlb, 0.73019..."

In [15]:
def specificGuess(length, tuples):
    guesses = []
    for i in tuples:
        #print(len(i))
        if len(i[0]) == length:
            if len(guesses) < 50:
                guesses.append(i)
            else:
                return guesses
    return guesses

In [16]:
def makeGuesses(df):
    listOfGuesses = []
    for i in range(0, len(df)):
        #print(df["length"][i])
        listOfGuesses.append(specificGuess(df["length"][i], df["top_1000"][i]))
    return listOfGuesses

In [17]:
guesses = makeGuesses(df)

In [18]:
finalList = []
for i in guesses:
    listOfFirst = []
    for j in i:
        listOfFirst.append(j[0])
    finalList.append(listOfFirst)
df["final_list"] = finalList
    
answers = []
for i in df["final_list"]:
    sentence = " ".join(i)
    sentence = sentence.upper()
    answers.append(sentence)

In [19]:
df["answer"] = answers

In [20]:
df.head()

,index,pubid,year,length,clue,data,avgVec,top_1000,final_list,answer
0,0,nyt,2021,7,"First graduates of the new millennium, informally","[first, graduates, of, the, new, millennium, i...","[-0.06283055, -0.33333978, 0.41959277, 0.42091...","[(first, 0.7257491946220398), (new, 0.70213496...","[leading, another, briefly, popular, pantone, ...",LEADING ANOTHER BRIEFLY POPULAR PANTONE HISTOR...
1,1,nyt,2021,9,A fifth,[fifth],"[0.16289929, -0.12252558, 1.7160105, 1.4493986...","[(fifth, 1.0), (fourth, 0.7677969932556152), (...","[twentieth, fifteenth, sixteenth, preceding, b...",TWENTIETH FIFTEENTH SIXTEENTH PRECEDING BEGINN...
2,2,nyt,2021,3,"When clocks ""spring forward"" for daylight savi...","[when, clocks, spring, forward, for, daylight,...","[0.26126122, -0.6569314, 0.13764042, 0.1582853...","[(when, 0.6975402235984802), (time, 0.60416513...","[day, for, dst, how, now, his, has, pay, say, ...",DAY FOR DST HOW NOW HIS HAS PAY SAY WIN TEN IT...
3,3,nyt,2021,3,Silver medalist's place,"[silver, medalist, place]","[-1.0124344, -0.5670554, 0.0015843312, 1.13921...","[(medalist, 0.6925310492515564), (silver, 0.62...","[win, mvp, nhl, nba, aur, orr, cup, oro, ten, ...",WIN MVP NHL NBA AUR ORR CUP ORO TEN PRO ROD CE...
4,4,nyt,2021,3,Iowa Cubs baseball classification,"[iowa, cubs, baseball, classification]","[-0.5253215, -0.7378391, -0.22098494, 0.524069...","[(baseball, 0.7362951636314392), (mlb, 0.73019...","[mlb, nfl, nba, nhl, sox, ott, usc, fsu, yaz, ...",MLB NFL NBA NHL SOX OTT USC FSU YAZ DIZ ACC ST...

In [21]:
finalResults = df["answer"]
model_name_csv = model_name + ".csv"
finalResults.to_csv(model_name_csv, index_label="index")